@font-face {
    font-family: Galindo;
    src: url('Galindo-Regular.ttf');
}

body {
    margin: 0px;
    font-family: Galindo,sans-serif;
    display: block;
    background: #8e8e8d;
}
head{
    width: auto;
    height: auto;
}
.text-container{
}
.text-content{
    position: static;
    width: auto;
    height: auto;
    font-family: "Galindo",sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    /* Inside Auto Layout */

    flex: none;
    align-self: flex-start;
    margin: 0;
}
.data{
    list-style: none;

}

.nav-items {
    display: flex;
    position: static;
    width: 100vw;
    height: 50px;
    left: 0;
    top: 0;

    background: #212821;

    /* Inside Auto Layout */

}
.text-and-picture  {
    justify-content: space-evenly;
    align-items: stretch;
}
.panel{
    background: #363636;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1;
}
header p {
    width: 70vw;
    height: auto;
    left: calc(50% - 90vw / 2 - 30vw);
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 0 0;

}

.me-image {

    background: #000000;
    background-blend-mode: unset;
    z-index:1;
    color:red;
    position: static;
    width: auto;
    height: auto;
    left: calc(90vw);


}

.text-navigation {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 35px;
    left: 0;
    z-index: 1;
    list-style: none;
    justify-content: space-evenly;


}

.text-navigation li a {
    color: #007913;
    font-family: Galindo,sans-serif;
    font-style: normal;
    font-weight: normal;

    display: flex;

}

.text-navigation li:first-child {
    font-family: Galindo,sans-serif;

    color: #FFCC00;

}

.icon-navigation {

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    padding: 0;
    position: fixed;
    z-index: 2;
    width: 96px;
    height: 64px;
}
.icon-navigation li a{
    width: 32px;
    height: 32px;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.data li {
    border-color: black;
    border-style: solid;
}
