@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);

@font-face {
    font-family: Impact;
    /*src: url('Galindo-Regular.ttf');*/
}

body {
    margin: 0;
    display: block;
    background: #bbbbbb;
    background-image: url("/pict/iss063e076166.jpg");
}
head{
    width: auto;
    height: auto;
}
.text-content{

    font-family: 'Open Sans', sans-serif;

    position: static;
    width: auto;
    height: auto;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    /* Inside Auto Layout */

    flex: none;
    align-self: flex-start;
    margin: 0;
}
.data{
    list-style: none;

}

.nav-items {
    display: flex;
    position: static;
    width: 100vw;
    height: 50px;
    left: 0;
    top: 0;


    /* Inside Auto Layout */

}
.text-and-picture  {
    justify-content: space-evenly;
    align-items: stretch;
}
.panel{
    color: black;
    background: #363636;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}
.text-content{
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    width: min-content;
    margin: 0 auto;
}
p {
    white-space: nowrap;
    width: 100%;

    font-size: 30px;
    line-height: 34px;
    text-align: center;

    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 0 0;

}
.List{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.me-image {
    background-blend-mode: unset;
    z-index:1;
    position: static;
    width: auto;
    height: auto;
    left: calc(90vw);


}
.about_content{
    display: flex;
    list-style: none;

    flex-direction: row;
    justify-content: space-evenly;
}

.text-navigation {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 35px;
    left: 0;
    margin-top: 0px;
    z-index: 1;
    list-style: none;
    justify-content: space-evenly;
    color: black;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
}

.text-navigation li a {
    color: #007913;
    font-family: 'Playfair Display SC',sans-serif;

    display: flex;

}



.icon-navigation {

    /* Auto Layout */
    font-size: 30px;

    display: flex;
    flex-direction: row;
    padding: 0;
    position: fixed;
    z-index: 2;
    width: 138px;
    height: 32px;
}
.icon-navigation li a{
    width: 32px;
    height: 32px;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.data li {

}
h1{
    font-family: 'Playfair Display SC',sans-serif;

    margin-top: 100px;
}